PORT=5000
# Database type: mysql (phpMyAdmin / XAMPP) or postgres
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=damkar123
DB_NAME=damkar_db
JWT_SECRET=damkar_super_secret_jwt_key_2026





